
@keyframes testAnimation  {
    0% {
        bottom:5vh;
        font-size: 15px;
        color: red;
    }
    40% {
        bottom:15vh;
        font-size: 115px;
        color: orangered;
    }
    60% {
        bottom:25vh;
        font-size: 85px;
        color: fuchsia;
    }
    100% {
        bottom:10vh;
        font-size: 135px;
        color: magenta;
    }   

}



.Text {
    color: red;
    position: absolute;
    animation: testAnimation 5s infinite;
}
